main {
    overflow-x: hidden;
}

h2 {
    margin-bottom: 2rem;
}

.service {
    opacity: 0;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.image-container {
    max-width: 35rem;
}

.service-image {
    -webkit-box-shadow: 0 0 15px 0px #c0c0c0;
            box-shadow: 0 0 15px 0px #c0c0c0;
    margin-bottom: 4rem;
}

.service:nth-child(1n) {
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%);
}

.service:nth-child(2n) {
    -webkit-transform: translateX(-15%);
        -ms-transform: translateX(-15%);
            transform: translateX(-15%);
}

.visible {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important;
}

hr {
    margin: 0;
}