body {
    margin-top: 7rem;
    background-color: #f7f8f9;
    overflow-x: hidden;
}

#nav-logo {
    max-width: 12rem;
    transition: all 500ms ease;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #001f5d;
    box-shadow: 0 1px 20px 0 #001f5d;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(207, 207, 207);
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.active {
    color: #7bb449 !important;
}

.scrolled {
    max-width: 8rem !important;
}

#footer  {
    font-size: 0.9rem !important;
    padding-top: 1rem;
    width: 100%;
    background-color: #001f5d;
    box-shadow: 0 -1px 20px 0 #001f5d;
}

.footer-text {
    margin-bottom: 0.3rem;
}

.quick-links-container a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease;
}
.quick-links-container a:hover {
    text-decoration: none;
    color: white;
    color: #7bb449;
}

.address-container {
    color: white;
}
.quick-links-container {
    color: white;
}

.CTA-btn {
    transition: all 200ms ease;
    background-color: #7bb449;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 15px #8dd44e;
    border: 3px solid transparent;
}
.CTA-btn:hover {
    border: 3px solid #7bb449;
    background-color: transparent;
    color: #7bb449;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .modal-overlay {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-overlay img {
    width: 5rem;
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 100 !important;
}

.arrow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blue-arrow {
    z-index: 3;
    animation-name: blue-arrow-loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 0;
}

#cyan-arrow {
    z-index: 2;
    animation-name: cyan-arrow-loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-delay: 100ms;
    transform: translate(-50%, -100%);
}

#green-arrow {
    z-index: 1;
    animation-name: green-arrow-loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-delay: 200ms;
    transform: translate(-50%, -80%);
}

.modal-overlay h5 {
    transform: translateY(4rem);
}

@keyframes blue-arrow-loading {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -80%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
@keyframes cyan-arrow-loading {
    0% {
        transform: translate(-50%, -100%);
    }
    50% {
        transform: translate(-50%, -130%);
    }
    100% {
        transform: translate(-50%, -100%);
    }
}
@keyframes green-arrow-loading {
    0% {
        transform: translate(-50%, -80%);
    }
    50% {
        transform: translate(-50%, -120%);
    }
    100% {
        transform: translate(-50%, -80%);
    }
}

@media (max-width: 992px) {
    .image-carousel {
        margin: 0 auto;
    }

    .service {
        transform: translateY(10%) !important;
    }

    .service {
        display: flex;
        flex-direction: column;
    }

    .description {
        order: 1;
    }

    .image-container {
        order: 2;
    }

    .service hr {
        order: 3;
    }
}

@media (max-width: 768px) {
    .background-image-col {
        display: none !important;
    }
}