body {
    margin-top: 7rem;
    background-color: #f7f8f9;
    overflow-x: hidden;
    font-size: 1.1rem;
}

#nav-logo {
    max-width: 12rem;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #001f5d;
    -webkit-box-shadow: 0 1px 20px 0 #001f5d;
            box-shadow: 0 1px 20px 0 #001f5d;
}

.navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(207, 207, 207);
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.active {
    color: #7bb449 !important;
}

.scrolled {
    max-width: 8rem !important;
}

#footer  {
    font-size: 0.9rem !important;
    padding-top: 1rem;
    width: 100%;
    background-color: #001f5d;
    -webkit-box-shadow: 0 -1px 20px 0 #001f5d;
            box-shadow: 0 -1px 20px 0 #001f5d;
}

.footer-text {
    color: white;
    margin-bottom: 0.3rem;
}

.quick-links-container a,
.footer-text a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer-text .creators-link {
    color: #00b7ff;
}

.quick-links-container a:hover,
.footer-text a:hover {
    color: #7bb449;
}

.address-container {
    color: white;
}
.quick-links-container {
    color: white;
}

.CTA-btn {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: #7bb449;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 0 0 15px #8dd44e;
            box-shadow: 0 0 15px #8dd44e;
    border: 3px solid transparent;
}
.CTA-btn:hover {
    border: 3px solid #7bb449;
    background-color: transparent;
    color: #7bb449;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .modal-overlay {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.486);
}
.modal-overlay img {
    width: 5rem;
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 100 !important;
}

.arrow {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.modal-overlay h5 {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@-webkit-keyframes blue-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    50% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

@keyframes blue-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    50% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
@-webkit-keyframes cyan-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
    }
    50% {
        -webkit-transform: translate(-50%, -130%);
                transform: translate(-50%, -130%);
    }
    100% {
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
    }
}
@keyframes cyan-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
    }
    50% {
        -webkit-transform: translate(-50%, -130%);
                transform: translate(-50%, -130%);
    }
    100% {
        -webkit-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%);
    }
}
@-webkit-keyframes green-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
    50% {
        -webkit-transform: translate(-50%, -120%);
                transform: translate(-50%, -120%);
    }
    100% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
}
@keyframes green-arrow-loading {
    0% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
    50% {
        -webkit-transform: translate(-50%, -120%);
                transform: translate(-50%, -120%);
    }
    100% {
        -webkit-transform: translate(-50%, -80%);
                transform: translate(-50%, -80%);
    }
}

#blue-arrow {
    z-index: 3;
}

.play-blue-arrow-anim {
    -webkit-animation-name: blue-arrow-loading;
    animation-name: blue-arrow-loading;
    -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

#cyan-arrow {
    z-index: 2;
    -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
}

.play-cyan-arrow-anim {
    -webkit-animation-name: cyan-arrow-loading;
            animation-name: cyan-arrow-loading;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
}

#green-arrow {
    z-index: 1;
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
}

.play-green-arrow-anim {
    -webkit-animation-name: green-arrow-loading;
    animation-name: green-arrow-loading;
    -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
}

@media (max-width: 992px) {
    .image-carousel {
        margin: 0 auto;
    }

    .service {
        -webkit-transform: translateY(10%) !important;
            -ms-transform: translateY(10%) !important;
                transform: translateY(10%) !important;
    }

    .service {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .service-image {
        width: 100%;
    }

    .description {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .image-container {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .service hr {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
}

@media (max-width: 768px) {
    .background-image-col {
        display: none !important;
    }
}