body {
    height: 89vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.background-image-col {
    background-color: #8ac8ff34;
    background-image: url('https://res.cloudinary.com/djkyfcfl1/image/upload/v1631967731/manfex_assets/background_llr1ws.png');
    background-size: 25rem;
    border-radius: 0.8rem;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#image-carousel {
    max-width: 25rem;
}