.background-image-col {
    background-color: #8ac8ff34;
    background-image: url('assets/Images/background.png');
    background-size: 25rem;
    border-radius: 0.8rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#image-carousel {
    max-width: 25rem;
}